
body, h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: "Lato", sans-serif !important
}

.requiredLabel{
	color:red;
}

.banner-container{
	margin: 0;
	padding: 0;
}

.banner-container img {
	width: 100%;
}

.navigationBar {
	background-color: #F2F2F2;
	color: #000;
}



.navigationBar .navbar-brand img {
	max-height: 90px;
	width: 170px !important;
}

.navigationBar.navbar-light .navbar-nav .nav-link.active {
    color: var(--bs-white) !important;
}
.navigationBar.navbar-light .navbar-nav .nav-link {
    color: var(--bs-dark) !important;
}



.fixed-right-button {
  position: fixed;   /* Stays in the same spot on the screen */
  right: 0;          /* Aligns to the right edge */
  top: 50%;          /* Moves the top edge to the vertical center */
  transform: translateY(-50%); /* Shifts button up by half its own height to perfectly center it */
  -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);

  /* Optional Styling */
  padding: 10px 20px;
  z-index: 1000;     /* Ensures it stays on top of other content */

}

#feedback {
    position: fixed;
    right: 0;
    top: 45%;
    height: 250px;
    margin-right: -4px;
    margin-bottom: -3px;
    z-index: 999;
}

#feedback-tab {
    color: #fff;
    float: right;
    font-size: 20px;
    height: 42px;
    margin-right: -50px;
    margin-top: -5px;
    padding-top: 5px;
    text-align: center;
}

#feedback button {
	transform: translateY(-50%); /* Shifts button up by half its own height to perfectly center it */
  -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
}

.imgArea {
  height: 400px;
  overflow: hidden;
}

.packages-content .mb-4.mt-2 {
    height: 72px;
    overflow: clip;
}

.imgArea .rounded-top.w-100 {
  object-fit: cover;
  height: 100%;
}

.trip-txt p {
    /*margin: 0 23px 0 0;
    padding: 0 0 10px 20px;*/
    padding: 0 0 10px 20px;
    background: url(../img/packages/trip-high.png) left 6px no-repeat;
}

.trip-ext p {
    /*margin: 0 23px 0 0;
    padding: 0 0 10px 20px;*/
    padding: 0 0 10px 20px;
    background: url(../img/packages/trip-wrong.png) left 6px no-repeat;
}

.InquireNowBestRT {
    background-color: #28659e;
    padding: 18px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.NowInquireBTN {
    background-color: #e9ef5f;
    padding: 10px;
    display: block;
    float: left;
    border: 1px solid #000;
    border-radius: 13px;
    color: #000;
    font-size: 14px;
}

.PricesINquire {
    float: right;
    width: 100%;
    color: #fff;
}

.PricesINquire span {
    clear: both;
    display: table;
    color: #f6ff00;
}

.trip-h {
    background: #fff;
    padding: 22px 10px;
    overflow: hidden;
}

.trip-spl ul {
    margin: 0;
    padding: 0;
}

.trip-spl p {/*
    margin: 0 23px 0 0;
    padding: 0 0 10px 22px;
    list-style: none;
    float: left;
    font-size: 16px;
    width: 47%;*/
    padding: 0 0 10px 22px;
    background: url(../img/packages/trip-spl.png) left 6px no-repeat;
}


.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}

.accordion-body p {
    white-space: pre-wrap;
}

.duration-container {
    border-bottom: 1px solid #ccc;
}

.timetotravel {
    font-style: italic;
    font-size: 13px;
}

.from.text-left {
    position: absolute;
    font-size: 12px;
}

.trip-price .price span.price {
    display: inline;
    color: #be0000;
    font-size: 23px;
    font-weight: normal;
    line-height: 0.8em;
}

.currency {
    position: absolute;
    font-size: 10px;
    display: inline-block;
    margin-left: 5px;
}

.trip-pricing span.info {
    display: inline-block;
    font-size: 14px;
    margin: 5px 0;
    background: #FFFFFF;
}

.price-box-buttons a.btn-success {
    border-radius: 0;
    background-color: #e65122;
    border-color: #e65122;
}

.h-help {
    background: #fff;
    /*padding: 11px 16px 19px 20px;*/
    display: block;
    margin-top: 15px;
}
.h-help-lbl {
    margin-bottom: 8px;
    color: #4c4c4c;
    font-weight: normal;
    font-size:  16px;
}
.h-help-phone {
    font-size: 20px;
    color: #4a90a4;
    display: block;
    font-weight: bold;
}